/*
 * Colors based on "Green&gray" by karenmc2
 * http://kuler.adobe.com/#themeID/1084300
 */

$bg_color: #fff;
$text_color: #3c403a;
$link_color: #5d8c16;
$active_color: #b0d959;
$border_color: #5e7348;
$serif_font: 'Merriweather';
$sans_serif_font: 'Varela Round';

body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
    font-family: $sans_serif_font, sans-serif;
    font-weight: normal;
}

body {
    background-color: $bg_color;
    color: $text_color;
}

a, a:visited {
    text-decoration: none;
    color: $link_color;
}

a:hover, a:active {
    text-decoration: underline;
}

a:hover {
}

a:active {
    color: $active_color;
}

hr {
    border-style: solid none none none;
    border-color: $border_color;
}

header[role="banner"] {
    width: 100%;

    nav {
        h1 {
            display: none;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline;
                margin-right: 30px;
            }

            li:last-child {
                margin-right: auto;
            }

            li.current-menu-item a, li.current-menu-item a:visited, {
                color: #dd5f18;
            }

            li.current-menu-item a:active {
                color: #fba922;
            }
        }
    }
}

div[role="main"] {
    font-family: $serif_font, serif;

    article {
        header {
            ul.metadata {
                list-style-type: none;
                margin: 0;
                padding: 0;
                font-family: $sans_serif_font, sans-serif;
                color: #999;

                li {
                    display: inline;
                }
            }
        }
    }

    section#projects ul, ol#portfolio {
        list-style-type: none;
    }

    ol#portfolio {
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 2em;
        }
    }

    .more {
        font-family: $sans_serif_font, sans-serif;
        font-size: 0.9em;
    }

    .paging {
        font-family: $sans_serif_font, sans-serif;
        text-align: center;
        padding: 1em 0;

        a:first-child {
            padding-right: 1em;
        }
    }

    section#comments {
        font-size: 0.8em;

        div.comment > div.comment {
            padding-left: 2em;
        }

        div.comment article {
            margin-top: 2em;
            margin-bottom: 2em;
        }
    }

    #respond {
        font-size: 0.8em;

        form {
            label {
                display: block;
            }
        }
    }

    /*
     * WordPress core CSS classes for rich text editor, from:
     * http: //codex.wordpress.org/CSS
     */
    .alignnone {
        margin: 5px 20px 20px 0;
    }

    .aligncenter, div.aligncenter {
        display: block;
        margin: 5px auto 5px auto;
    }

    .alignright {
        float: right;
        margin: 5px 0 20px 20px;
    }

    .alignleft {
        float: left;
        margin: 5px 20px 20px 0;
    }

    .aligncenter {
        display: block;
        margin: 5px auto 5px auto;
    }

    a img.alignright {
        float: right;
        margin: 5px 0 20px 20px;
    }

    a img.alignnone {
        margin: 5px 20px 20px 0;
    }

    a img.alignleft {
        float: left;
        margin: 5px 20px 20px 0;
    }

    a img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .wp-caption {
        background: #fff;
        border: 1px solid #f0f0f0;
        max-width: 96%; /* Image does not overflow the content area */
        padding: 5px 3px 10px;
        text-align: center;
    }

    .wp-caption.alignnone {
        margin: 5px 20px 20px 0;
    }

    .wp-caption.alignleft {
        margin: 5px 20px 20px 0;
    }

    .wp-caption.alignright {
        margin: 5px 0 20px 20px;
    }

    .wp-caption img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }

    .wp-caption p.wp-caption-text {
        font-size: 11px;
        line-height: 17px;
        margin: 0;
        padding: 0 4px 5px;
    }
}

footer[role="contentinfo"] {
    padding: 1em 0;
    background-color: $text_color;
    color: $bg_color;

    a, a:visited {
        color: $active_color;
    }

    a:active {
        color: $link_color;
    }

    h2 {
        font-size: 1em;
    }

    .widget_links {
        h2 {
            margin: 0;
        }

        ul {
            display: inline;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;
                margin-right: 10px;
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }

    .widget_search {
        margin-bottom: 1em;

        input[type="search"] {
            border-radius: 3px;
            border: 1px solid #aaa;
            font-size: 0.8em;
            padding-left: 20px;
            background: white url(../images/icon-search.png) no-repeat 1% center;
        }

        input[type="submit"] {
            display: none;
        }
    }

    p#copyright {
        margin-bottom: 0;
        font-size: 0.8em;
    }
}
