/*
 * Colors based on "Green&gray" by karenmc2
 * http://kuler.adobe.com/#themeID/1084300
 */
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
  font-family: "Varela", sans-serif; }

body {
  background-color: white;
  color: #3c403a; }

a, a:visited {
  text-decoration: none;
  color: #5d8c16; }

a:hover, a:active {
  text-decoration: underline; }

a:active {
  color: #b0d959; }

hr {
  border-style: solid none none none;
  border-color: #5e7348; }

header[role="banner"] {
  width: 100%; }
  header[role="banner"] nav h1 {
    display: none; }
  header[role="banner"] nav ul {
    margin: 0;
    padding: 0; }
    header[role="banner"] nav ul li {
      display: inline;
      margin-right: 30px; }
    header[role="banner"] nav ul li:last-child {
      margin-right: auto; }
    header[role="banner"] nav ul li.current-menu-item a, header[role="banner"] nav ul li.current-menu-item a:visited {
      color: #dd5f18; }
    header[role="banner"] nav ul li.current-menu-item a:active {
      color: #fba922; }

div[role="main"] {
  font-family: "Merriweather", serif; }
  div[role="main"] article footer, div[role="main"] .more {
    text-align: right;
    font-family: "Varela", sans-serif;
    font-size: 12px; }
  div[role="main"] .more {
    clear: both; }
  div[role="main"] section#projects ul {
    list-style-type: none; }

footer[role="contentinfo"] {
  padding: 1em 0;
  background-color: #3c403a;
  color: white; }
  footer[role="contentinfo"] a, footer[role="contentinfo"] a:visited {
    color: #b0d959; }
  footer[role="contentinfo"] a:active {
    color: #5d8c16; }
  footer[role="contentinfo"] h2 {
    font-size: 1em; }
  footer[role="contentinfo"] .widget_links h2 {
    margin: 0; }
  footer[role="contentinfo"] .widget_links ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    footer[role="contentinfo"] .widget_links ul li {
      display: inline;
      margin-right: 10px; }
    footer[role="contentinfo"] .widget_links ul li:last-child {
      margin-right: 0; }
  footer[role="contentinfo"] .widget_search {
    margin-bottom: 1em; }
    footer[role="contentinfo"] .widget_search input[type="search"] {
      border-radius: 3px;
      border: 1px solid #aaa;
      font-size: 0.8em;
      padding-left: 20px;
      background: white url(../images/icon-search.png) no-repeat 1% center; }
    footer[role="contentinfo"] .widget_search input[type="submit"] {
      display: none; }
  footer[role="contentinfo"] p#copyright {
    margin-bottom: 0;
    font-size: 0.8em; }
