/*
 * Colors based on "Green&gray" by karenmc2
 * http://kuler.adobe.com/#themeID/1084300
 */
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
  font-family: "Varela Round", sans-serif;
  font-weight: normal; }

body {
  background-color: white;
  color: #3c403a; }

a, a:visited {
  text-decoration: none;
  color: #5d8c16; }

a:hover, a:active {
  text-decoration: underline; }

a:active {
  color: #b0d959; }

hr {
  border-style: solid none none none;
  border-color: #5e7348; }

header[role="banner"] {
  width: 100%; }
  header[role="banner"] nav h1 {
    display: none; }
  header[role="banner"] nav ul {
    margin: 0;
    padding: 0; }
    header[role="banner"] nav ul li {
      display: inline;
      margin-right: 30px; }
    header[role="banner"] nav ul li:last-child {
      margin-right: auto; }
    header[role="banner"] nav ul li.current-menu-item a, header[role="banner"] nav ul li.current-menu-item a:visited {
      color: #dd5f18; }
    header[role="banner"] nav ul li.current-menu-item a:active {
      color: #fba922; }

div[role="main"] {
  font-family: "Merriweather", serif;
  /*
   * WordPress core CSS classes for rich text editor, from:
   * http: //codex.wordpress.org/CSS
   */ }
  div[role="main"] article header ul.metadata {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    color: #999; }
    div[role="main"] article header ul.metadata li {
      display: inline; }
  div[role="main"] section#projects ul, div[role="main"] ol#portfolio {
    list-style-type: none; }
  div[role="main"] ol#portfolio {
    margin: 0;
    padding: 0; }
    div[role="main"] ol#portfolio li {
      margin-bottom: 2em; }
  div[role="main"] .more {
    font-family: "Varela Round", sans-serif;
    font-size: 0.9em; }
  div[role="main"] .paging {
    font-family: "Varela Round", sans-serif;
    text-align: center;
    padding: 1em 0; }
    div[role="main"] .paging a:first-child {
      padding-right: 1em; }
  div[role="main"] section#comments {
    font-size: 0.8em; }
    div[role="main"] section#comments div.comment > div.comment {
      padding-left: 2em; }
  div[role="main"] #respond {
    font-size: 0.8em; }
    div[role="main"] #respond form label {
      display: block; }
  div[role="main"] .alignnone {
    margin: 5px 20px 20px 0; }
  div[role="main"] .aligncenter, div[role="main"] div.aligncenter {
    display: block;
    margin: 5px auto 5px auto; }
  div[role="main"] .alignright {
    float: right;
    margin: 5px 0 20px 20px; }
  div[role="main"] .alignleft {
    float: left;
    margin: 5px 20px 20px 0; }
  div[role="main"] .aligncenter {
    display: block;
    margin: 5px auto 5px auto; }
  div[role="main"] a img.alignright {
    float: right;
    margin: 5px 0 20px 20px; }
  div[role="main"] a img.alignnone {
    margin: 5px 20px 20px 0; }
  div[role="main"] a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0; }
  div[role="main"] a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  div[role="main"] .wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center; }
  div[role="main"] .wp-caption.alignnone {
    margin: 5px 20px 20px 0; }
  div[role="main"] .wp-caption.alignleft {
    margin: 5px 20px 20px 0; }
  div[role="main"] .wp-caption.alignright {
    margin: 5px 0 20px 20px; }
  div[role="main"] .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto; }
  div[role="main"] .wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px; }

footer[role="contentinfo"] {
  padding: 1em 0;
  background-color: #3c403a;
  color: white; }
  footer[role="contentinfo"] a, footer[role="contentinfo"] a:visited {
    color: #b0d959; }
  footer[role="contentinfo"] a:active {
    color: #5d8c16; }
  footer[role="contentinfo"] h2 {
    font-size: 1em; }
  footer[role="contentinfo"] .widget_links h2 {
    margin: 0; }
  footer[role="contentinfo"] .widget_links ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    footer[role="contentinfo"] .widget_links ul li {
      display: inline;
      margin-right: 10px; }
    footer[role="contentinfo"] .widget_links ul li:last-child {
      margin-right: 0; }
  footer[role="contentinfo"] .widget_search {
    margin-bottom: 1em; }
    footer[role="contentinfo"] .widget_search input[type="search"] {
      border-radius: 3px;
      border: 1px solid #aaa;
      font-size: 0.8em;
      padding-left: 20px;
      background: white url(../images/icon-search.png) no-repeat 1% center; }
    footer[role="contentinfo"] .widget_search input[type="submit"] {
      display: none; }
  footer[role="contentinfo"] p#copyright {
    margin-bottom: 0;
    font-size: 0.8em; }
