hr {
  margin: 6em 10% 6em 10%; }

header[role="banner"] {
  margin: 0 0 6em 0; }

div[role="main"] {
  padding-bottom: 6em; }
  div[role="main"] article {
    margin-bottom: 6em; }
  div[role="main"] section {
    margin-bottom: 6em; }

section#comments {
  margin-top: 6em; }

h1 {
  font-size: 2.2em; }

article header h1, section h1, h2 {
  font-size: 1.65em; }

section article header h1, article > h2, section h2 {
  font-size: 1.287em; }

.wrap {
  width: 916px;
  margin: 0 auto; }

header[role="banner"] {
  text-align: left; }
  header[role="banner"] h1 {
    font-size: 2.2em;
    margin-bottom: 0.67em; }
  header[role="banner"] nav {
    float: right;
    margin-top: -3em;
    font-size: 1.2em; }
    header[role="banner"] nav ul li {
      margin-right: 30px; }

div[role="main"] {
  /* Article headings within a section are smaller */ }
  div[role="main"] article header {
    height: 2.2em; }
    div[role="main"] article header h1 {
      float: left;
      margin: 0; }
    div[role="main"] article header ul.metadata {
      float: right;
      margin: 0.7em 0 0 0;
      font-size: 0.8em; }
      div[role="main"] article header ul.metadata li {
        padding-right: 20px; }
      div[role="main"] article header ul.metadata li:last-child {
        padding-right: 0; }
  div[role="main"] section article header {
    height: 1.5em; }
  div[role="main"] section article ul.metadata {
    margin-top: 0.35em; }
  div[role="main"] section#projects ul li {
    display: inline;
    float: left;
    width: 30%;
    margin-right: 5%; }
  div[role="main"] section#projects ul li:last-child {
    margin-right: 0; }
  div[role="main"] .more {
    text-align: right; }
  div[role="main"] form input, div[role="main"] form textarea {
    width: 40%; }

footer[role="contentinfo"] {
  position: fixed;
  bottom: 0;
  text-align: left;
  width: 100%; }
  footer[role="contentinfo"] .widget {
    float: left; }
  footer[role="contentinfo"] .widget_links {
    width: 696px; }
    footer[role="contentinfo"] .widget_links h2 {
      display: inline;
      padding: 0 20px 0 0; }
    footer[role="contentinfo"] .widget_links ul li {
      margin-right: 20px; }
    footer[role="contentinfo"] .widget_links ul li:last-child {
      margin-right: 0; }
  footer[role="contentinfo"] .widget_search {
    width: 220px; }
    footer[role="contentinfo"] .widget_search input[type="search"] {
      margin-top: 0;
      width: 197px;
      /* 23px for padding-left and border-radius */ }
  footer[role="contentinfo"] p#copyright {
    clear: both; }
