$base_font_size: 2.2em;

@import "mixins.scss";
@include margins(6em);
@include heading-sizes($base_font_size);

.wrap {
    width: 916px;
    margin: 0 auto;
}

header[role="banner"] {
    text-align: left;

    h1 {
        font-size: $base_font_size;
        margin-bottom: 0.67em;
    }

    nav {
        float: right;
        margin-top: -3em;
        font-size: 1.2em;

        ul li {
            margin-right: 30px;
        }
    }
}

div[role="main"] {
    article {
        header {
            height: 2.2em;

            h1 {
                float: left;
                margin: 0;
            }

            ul.metadata {
                float: right;
                margin: 0.7em 0 0 0;
                font-size: 0.8em;

                li {
                    padding-right: 20px;
                }

                li:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    /* Article headings within a section are smaller */
    section {
        article {
            header {
                height: 1.5em;
            }

            ul.metadata {
                margin-top: 0.35em;
            }
        }
    }

    section#projects {
        ul {
            li {
                display: inline;
                float: left;
                width: 30%;
                margin-right: 5%;
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }

    .more {
        text-align: right;
    }

    form {
        input, textarea {
            width: 40%;
        }
    }
}

footer[role="contentinfo"] {
    position: fixed;
    bottom: 0;
    text-align: left;
    width: 100%;

    .widget {
        float: left;
    }

    .widget_links {
        width: 696px;

        h2 {
            display: inline;
            padding: 0 20px 0 0;
        }

        ul {
            li {
                margin-right: 20px;
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }

    .widget_search {
        $width: 220px;
        width: $width;

        input[type="search"] {
            margin-top: 0;
            width: $width - 23px;  /* 23px for padding-left and border-radius */
        }
    }

    p#copyright {
        clear: both;
    }
}
