@mixin margins($margin) {
    hr {
        margin: $margin 10% $margin 10%;
    }

    header[role="banner"] {
        margin: 0 0 $margin 0;
    }

    div[role="main"] {
        article, section#projects {
            margin-bottom: $margin;
        }
    }

    section#comments, footer[role="contentinfo"] {
        margin-top: $margin;
    }
}

@mixin heading-sizes($base) {
    h1 {
        font-size: $base;
    }

    article header h1, section h1, h2 {
        font-size: $base * 0.75;
    }

    section article header h1, article > h2, section h2 {
        font-size: $base * 0.585;
    }
}
