hr {
  margin: 1em 10% 2em 10%; }

header[role="banner"] {
  margin: 0 0 2em 0; }

div[role="main"] article footer, div[role="main"] .more {
  padding-bottom: 1em; }

footer[role="contentinfo"] {
  margin-top: 2em; }

h1 {
  font-size: 1.5em; }

article header h1, section h1 {
  font-size: 1.125em; }

section article header h1, section h2 {
  font-size: 0.878em; }

.wrap {
  margin: 0 0.5em; }

header[role="banner"] {
  text-align: center; }
  header[role="banner"] h1 {
    margin-bottom: 0.5em; }
  header[role="banner"] nav ul li {
    margin-right: 15px; }

div[role="main"] section#projects ul {
  margin: 0;
  padding: 0; }
