hr {
  margin: 2em 10% 2em 10%; }

header[role="banner"] {
  margin: 0 0 2em 0; }

div[role="main"] {
  padding-bottom: 2em; }
  div[role="main"] article {
    margin-bottom: 2em; }
  div[role="main"] section {
    margin-bottom: 2em; }

section#comments {
  margin-top: 2em; }

h1 {
  font-size: 2em; }

article header h1, section h1, h2 {
  font-size: 1.5em; }

section article header h1, article > h2, section h2 {
  font-size: 1.17em; }

.wrap {
  margin: 0 0.5em; }

header[role="banner"] {
  text-align: center; }
  header[role="banner"] h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em; }
  header[role="banner"] nav ul li {
    margin-right: 15px; }

div[role="main"] form input, div[role="main"] form textarea {
  width: 90%; }
div[role="main"] form input[type="submit"] {
  width: auto; }
div[role="main"] section#projects ul {
  margin: 0;
  padding: 0; }

footer[role="contentinfo"] {
  text-align: center; }
  footer[role="contentinfo"] .widget_links ul li {
    font-size: 0.8em; }
  footer[role="contentinfo"] .widget_search input[type="search"] {
    margin-top: 1em;
    width: 60%; }
