/*
 * Colors based on "Green&gray" by karenmc2
 * http://kuler.adobe.com/#themeID/1084300
 */

$margin: 6em;
$bg_color: #fff;
$text_color: #3c403a;
$link_color: #5d8c16;
$active_color: #b0d959;
$border_color: #5e7348;

body,
button,
input,
select,
textarea {
    font-family: 'Varela', sans-serif;
}

body {
    width: 916px;
    margin: 0 auto;
    background-color: $bg_color;
    color: $text_color;
}

a, a:visited {
    text-decoration: none;
    color: $link_color;
}

a:hover, a:active {
    text-decoration: underline;
}

a:hover {
}

a:active {
    color: $active_color;
}

hr {
    margin: $margin 10%;
    border-style: solid none none none;
    border-color: $border_color;
}

header[role="banner"] {
    width: 100%;
    margin: $margin 0;

    nav {
        float: right;
        font-size: 1.2em;
        margin-top: -3em;

        h1 {
            display: none;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline;
                margin-right: 30px;
            }

            li:last-child {
                margin-right: auto;
            }
        }
    }
}

div[role="main"] {
    clear: both;

    p {
        font-family: 'Merriweather', serif;
    }

    article footer, .more {
        clear: both;
        padding-top: 1em;
        text-align: right;
    }

    section#projects {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;
                float: left;
                width: 30%;
                margin-right: 5%;

                h2 {
                    font-size: 1.17em;
                }
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }
}

footer[role="contentinfo"] {
    text-align: center;

    h2 {
        display: inline;
        font-size: 1em;
        margin: 0;
        padding: 0 20px 0 0;
    }

    ul {
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid $border_color;
        }

        li:last-child {
            margin-right: 0;
            padding-right: 0;
            border-right: 0;
        }
    }
}
