body,
button,
input,
select,
textarea {
  font-family: 'Varela', sans-serif; }

body {
  width: 916px;
  margin: 0 auto; }

header[role="banner"] {
  width: 100%;
  margin-top: 2em; }
  header[role="banner"] h1 {
    float: left;
    margin: 0 0 1em 0; }
  header[role="banner"] nav {
    float: right;
    font-size: 1.2em;
    margin-top: 0.4em; }
    header[role="banner"] nav h1 {
      display: none; }
    header[role="banner"] nav ul {
      margin: 0; }
      header[role="banner"] nav ul li {
        display: inline;
        margin-right: 30px; }
      header[role="banner"] nav ul li:last-child {
        margin-right: auto; }

div[role="main"] {
  clear: both; }
  div[role="main"] p {
    font-family: 'Merriweather', serif; }
  div[role="main"] ul li h2 {
    font-size: 1.17em; }

footer[role="contentinfo"] {
  margin-top: 2em; }
  footer[role="contentinfo"] h2 {
    font-size: 1em;
    margin: 0;
    padding: 0 20px 0 0;
    float: left; }
  footer[role="contentinfo"] ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    footer[role="contentinfo"] ul li {
      display: inline;
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid #ccc; }
    footer[role="contentinfo"] ul li:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: 0; }
