/*
 * Colors based on "Green&gray" by karenmc2
 * http://kuler.adobe.com/#themeID/1084300
 */

$margin: 6em;
$bg_color: #fff;
$text_color: #3c403a;
$link_color: #5d8c16;
$active_color: #b0d959;
$border_color: #5e7348;

body,
button,
input,
select,
textarea {
    font-family: 'Varela', sans-serif;
}

body {
    background-color: $bg_color;
    color: $text_color;
}

a, a:visited {
    text-decoration: none;
    color: $link_color;
}

a:hover, a:active {
    text-decoration: underline;
}

a:hover {
}

a:active {
    color: $active_color;
}

hr {
    margin: $margin 10%;
    border-style: solid none none none;
    border-color: $border_color;
}

.wrap {
    width: 916px;
    margin: 0 auto;
}

header[role="banner"] {
    width: 100%;
    margin: 0 0 $margin 0;

    nav {
        float: right;
        font-size: 1.2em;
        margin-top: -3em;

        h1 {
            display: none;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline;
                margin-right: 30px;
            }

            li:last-child {
                margin-right: auto;
            }
        }
    }
}

div[role="main"] {
    clear: both;

    p {
        font-family: 'Merriweather', serif;
    }

    article footer, .more {
        clear: both;
        padding-top: 1em;
        text-align: right;
    }

    section#projects {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;
                float: left;
                width: 30%;
                margin-right: 5%;

                h2 {
                    font-size: 1.17em;
                }
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }
}

footer[role="contentinfo"] {
    margin-top: $margin;
    padding: 1em 0;
    background-color: $text_color;
    color: $bg_color;

    a, a:visited {
        color: $active_color;
    }

    a:active {
        color: $link_color;
    }

    h2 {
        font-size: 1em;
    }

    .widget {
        float: left;
    }

    .widget_links {
        width: 696px;

        h2 {
            display: inline;
            margin: 0;
            padding: 0 20px 0 0;
        }

        ul {
            display: inline;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;
                margin-right: 10px;
                padding-right: 10px;
            }

            li:last-child {
                margin-right: 0;
                padding-right: 0;
                border-right: 0;
            }
        }
    }

    .widget_search {
        margin-bottom: 1em;
        width: 220px;

        input[type="search"] {
            border-radius: 3px;
            border: 1px solid #aaa;
            font-size: 0.8em;
            width: 100%;
        }

        input[type="submit"] {
            display: none;
        }
    }

    p#copyright {
        clear: both;
        margin-bottom: 0;
        font-size: 0.8em;
    }
}
